<ol class="hashTabber-nav" data-hashtabber-id="dinosaurs" data-hashtabber-default="pterosaur">
    <h2>Species:</h2>
    {% for dinosaur in site.data.dinosaurs %}
        <li data-hashtabber-pair="{{ dinosaur.slug }}">
            <a>{{ dinosaur.name }}</a>
        </li>
    {% endfor %}
</ol><!--
--><ol class="hashTabber-data" data-hashtabber-id="dinosaurs">
    {% for dinosaur in site.data.dinosaurs %}
        <li data-hashtabber-pair="{{ dinosaur.slug }}">
            <article>
                <h3>{{ dinosaur.name}}</h3>
                <p>{{ dinosaur.description }}</p>
                <p><a href="{{ dinosaur.url }}" target="_blank">Read more about {{ dinosaur.name }}</a></p>
            </article>
        </li>
    {% endfor %}
</ol>